* {
  margin: 0;
  padding: 0;
}

header {
  height: 180px;
}

.title {
  position: absolute;
  right: 600px;
  top: 25px;
}

.title-comparison {
  width: 440px;
  left: 600px;
}

.wrapper {
  height: 800px;
}

.rus-text {
  font-size: 42px;
  font-weight: 100;
  margin: 0;
}

.block {
  height: 700px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}

.block_left {
  width: 49%;
}

.block_left_title {
  position: absolute;
  top: 250px;
  left: 338px;
}

.block_left_text_list_1 {
  width: 33%;
  position: absolute;
  left: 180px;
  top: 350px;
}

.block_left_text_list_2 {
  width: 35%;
  position: absolute;
  left: 175px;
  top: 600px;
}

.block_line {
  width: 2%;
  display: flex;
  justify-content: center;
}

.block_line_palka {
  position: absolute;
  top: 364px;
}

.block_right {
  width: 49%;
}

.block_right_title {
  position: absolute;
  top: 250px;
  left: 1280px;
}

.block_right_text_list_1 {
  width: 30%;
  position: absolute;
  left: 1163px;
  top: 350px;
}

.block_right_text_list_2 {
  width: 29%;
  position: absolute;
  left: 1162px;
  top: 418px;
}

.block_right_text_list_3 {
  width: 26%;
  position: absolute;
  left: 1162px;
  top: 546px;
}
