* {
  margin: 0;
  padding: 0;
}

header {
  height: 180px;
}

.title {
  position: absolute;
  right: 600px;
  top: 25px;
}

.title-comparison {
  width: 440px;
  left: 600px;
}

.wrapper {
  height: 800px;
}

.block {
  height: 700px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}

.block_left_title {
  position: absolute;
  top: 250px;
  left: -400px;
}

.block_left {
  width: 49%;
}

.block_line {
  width: 2%;
  display: flex;
  justify-content: center;
}

.block_right {
  width: 49%;
}

.rus-text {
  font-size: 42px;
  font-weight: 100;
  margin: 0;
}
